@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);

/**
 * GENERAL
 */

img {max-width:100%;}

body {
    font-family: arial;
    font-size: 12px;
    transition: opacity .25s ease;
    color:#69b;
    
    h3{
        color:inherit;
    }

    .avatar{
        width:50px !important;
    }
    .repo.highlighted{
         -webkit-transition: all .3s ease-in;
        background-color:#fff;
    }    

    .repo{
         // -webkit-transition: all .2s ease-in;
        padding-left:20px;
        background: #eff;
        border-top:1px solid #ccc;
    }
    .repo:hover{
        background-color:#dfd
    }
    
    .ghPages{
        float:right;
        display:inline-block;
        // position:absolute;
        margin-right:10px;
        color:#9ce
    }
    .ghPages:visited{
        color:#47a
    }
    .ghPages::after{
        content:'';
        clear:both;
    }
    .right {
        position:relative;
        margin-left:20%;
        max-width:800px;
        min-width:400px;

    }
    header{
        margin:20px
    }
    .users{
        
        width:80%;
        // margin-top: 50px;
        margin-bottom: 50px;

    }
    .branchLink{
        // position:relative;
        // display:  block;
        color:#9ce
    }
    .branchLink:visited{
        // position:relative;
        // display:  block;
        color:#47a
    }
    a{
        text-decoration: none;
        color:inherit;
    }
    a:visited{
        text-decoration: none;
        color:inherit;
    }
    .user{
        // transition: all .3s ease-in;
        display:inline-block;
        width: 18%;
        margin:5px;
        font-size:15px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 3px 3px 5px #bef;
        border:1px solid #9ce;
        background-color:#adf;

        // opacity: 0;
        animation: fadeIn .3s ease both;
    }

    .user.selected{

        background:#dfe;
        box-shadow: 2px 2px 5px #cfd;
        border:1px solid #9ce;
    }
    .link{
        cursor:pointer;
        // color:#666;
    }
    #userInfo{
        width:20%;
        position:absolute;
        padding: 20px;
        // border:1px solid red
    }
    #repoList{
         // -webkit-transition: all .3s ease-in;
        border-radius: 10px;
        border:1px solid #ccc;
        overflow: hidden;
        margin-right: 10px;
    }
    .expand{
         -webkit-transition: all .5s ease-in;
        // border:1px solid red;
        display:block;
    }
    .red {
            // backgroundColor:#a00 !important;
            color:#f00 !important
        }
    
    @media only screen and (max-width: 780px){

        .user{
            width: 30%;
        }
    }

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}