<div class="repo" id="container-<%= name %>">
	
	<div>
	
	    <%= (has_pages ? '<a href="' + gh_pages_url + '" class="ghPages">Open in GH-Pages</a>' : '') %>
		<a href="#<%= full_name %>"= class="link expand" title="expand <%= name %>"  id="expandRepo-<%= name %>">
			<%= name %>
		</a>
	
	
	</div>
	<div class="branches" id="branches-<%= name %>">
		<div class="repo_List" id="list-<%= name %>"></div>
	</div>

</div>